@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus{
    outline: 1px solid;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    display: block;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #bf1722;
    color: white;
    padding: 8px;
    z-index: 100;
 }

 .skip-link:focus {
    top: 0;
 }

/*
header
*/
header {
    background-color: rgb(255 255 255 / 90%);
    min-height: 80px;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
    transition: all .2s ease-out;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #434343;
    width: 100%;
}


.nav > h2 {
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
    font-style: italic;
    padding: 15px;
    color: #821752;
    min-width: 44px;
}

.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-right: 1.5em;
}

.nav_item {
    box-sizing: border-box;
    display: inline-block;
}

.nav_item > a {
    text-decoration: none;
    color: #434343;
    font-weight: bold;
    min-width: 44px;
    width: 100%;
}

.nav_item a:hover {
    color: #821752;
}

.icon {
    font-size: 30px;
    padding: 15px;
    text-decoration: none;
    color: #821752;
    min-width: 44px;
    min-height: 44px;
}

/*
hero jumbotron
*/

.hero {
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 5, 0.5), rgba(0, 0, 5, 0.5)), url("../public/images/heros/hero-image_4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: Black !important
}

.hero_inner {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.hero_title {
    font-weight: 500;
    font-size: 28px;
}

.hero_tagline {
    margin-top: 16px;
    font-weight: 300;
    font-size: 18px;
}

/*
main
*/

main {
    width: 100%;
    margin: 0 auto;
}

.content {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #e6eaed;
    min-width: 44px;
    min-height: 44px;
    width: 100%;
}

.resto-container {
    max-width: 1170px;
    min-width: 44px;
    padding: 0 15px;
    margin: 0 auto;
  }

.explore {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #434343;
    border-bottom: 1px solid rgb(211, 209, 209);
    margin-bottom: 2em;
}

.resto-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    width: 100%;
    margin: auto;
    cursor: pointer;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: white;
}
  
.resto-card-header {
    position: relative;
}

.resto-card-header img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 13rem;
}

.resto-card-header p {
    position: absolute;
    top: 5%;
    padding: 8px 15px;
    color: white;
    border-radius: 0 8px 8px 0;
    background-color: rgba(130, 23, 82, 0.9);
    text-align: justify;
    font-size: large;
}


.resto-card-body {
    display: inline-block;
    font-size: 15px;
    text-align: left;
    padding: 25px;
    width: 100%;
}

.resto-card-body .rating{
    font-size: medium;
    color: #434343;
    padding-bottom: 15px;
}

.rating-value {
    color: #de4463;
    font-weight: bold;
}

.resto-card-body .name{
    padding-bottom: 15px;
    font-size: x-large;
    width: 100%;
    min-width: 44px;
    min-height: 44px;
}

.name > a {
    text-decoration: none;
    color: #434343;
}

.resto-card-body .description{
    font-size: 15px;
    color: #434343;
}

.more {
    display: none;
}

/*
footer
*/

footer {
    background-color: #252525;
    font-size: 14px;
    text-align: center;
    color: #fff;
    width: 100%;
}

.container {
    padding: 15px;
}